html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, dl, dt, dd, ol, nav ul, nav li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block
}

ol, ul {
	list-style: none;
	margin: 0;
	padding: 0
}

blockquote, q {
	quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

a {
	text-decoration: none
}

.txt-rt {
	text-align: right
}

.txt-lt {
	text-align: left
}

.txt-center {
	text-align: center
}

.float-rt {
	float: right
}

.float-lt {
	float: left
}

.clear {
	clear: both
}

.pos-relative {
	position: relative
}

.pos-absolute {
	position: absolute
}

.vertical-base {
	vertical-align: baseline
}

.vertical-top {
	vertical-align: top
}

nav.vertical ul li {
	display: block
}

nav.horizontal ul li {
	display: inline-block
}

img {
	max-width: 100%
}

body {
	font-family: 'Poiret One', cursive !important;
	background: url(../images/banner.png) 0 0
}

.main {
	width: 30%;
	margin: 8em auto 0;
	padding: 4em 4em 5em;
	background: #99AAD5;
	text-align: center;
}

.main h1 {
	color: #FFF;
	text-align: center;
	font-size: 2em;
	margin: 0 0 2em
}

.main input[type="text"], .main input[type="password"] {
	outline: none;
	border: none;
	background: #F9F9F9;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 15px 10px;
	width: 96%;
	font-size: 1em;
	color: #C4C4C4;
	text-align: center;
	font-family: 'Poiret One', cursive !important
}

.main input[type="password"] {
	margin: 1.5em 0
}

.main input[type="submit"] {
	outline: none;
	border: none;
	background: #B8CAF2;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 15px 10px;
	width: 45%;
	color: #FFF;
	font-size: 1em;
	font-family: 'Poiret One', cursive !important;
	cursor: pointer;
	-webkit-transition: width 2s;
	transition: width 2s;
	transition-timing-function: linear
}

.main input[type="button"] {
	outline: none;
	border: none;
	background: #5290F4;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	padding: 15px 10px;
	width: 45%;
	color: #FFF;
	font-size: 1em;
	font-family: 'Poiret One', cursive !important;
	cursor: pointer;
	-webkit-transition: width 2s;
	transition: width 2s;
	transition-timing-function: linear
}

.main input[type="submit"]:hover {
	background: #8597C4
}

.main a {
	display: block;
	font-size: 1em;
	color: #FFF;
	margin: 1.5em 0 0;
	text-align: center;
	text-decoration: none
}

.main a:hover {
	color: #DCD8D9
}

.footer {
	text-align: center;
	padding: 2em 0 0
}

.footer p {
	font-size: 1em;
	color: #999;
	margin: 0
}

.footer p a {
	color: #000
}

.footer p a:hover {
	color: #999
}

@media ( max-width :1366px) {
	.main {
		margin: 5em auto 0
	}
}

@media ( max-width :1280px) {
	.main input[type="text"], .main input[type="password"] {
		width: 95%
	}
}

@media ( max-width :1024px) {
	.main {
		width: 45%
	}
}

@media ( max-width :768px) {
	.main {
		width: 55%;
		padding: 3em 3em 4em
	}
}

@media ( max-width :736px) {
	.footer {
		padding: 2em 0
	}
}

@media ( max-width :640px) {
	.main {
		width: 70%
	}
	.main h1 {
		margin: 0 0 1.5em
	}
}

@media ( max-width :568px) {
	.main {
		margin: 3em auto 0
	}
}

@media ( max-width :480px) {
	.main h1 {
		margin: 0 0 1em;
		font-size: 1.6em
	}
	.main {
		width: 80%;
		padding: 2em 2em 2.5em
	}
}

@media ( max-width :414px) {
	.footer p {
		margin: 0 auto;
		width: 90%
	}
	.main input[type="text"], .main input[type="password"] {
		width: 94%
	}
}

@media ( max-width :375px) {
	.main input[type="text"], .main input[type="password"] {
		width: 93%
	}
}
|